/* Full-width inputs */
input[type=text]{
    width: 20%;
    padding: 12px 10px;
    margin: 0.5cm 0.1cm;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
input[type=password]{
    width: 20%;
    padding: 12px 10px;
    margin: 0.5cm 0.1cm;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
button {
    background-color: #009688;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 10%;
}

/* Add a hover effect for buttons */
button:hover {
    opacity: 0.8;
}

/* Extra style for the cancel button (red) */
.cancelbtn {
    width: auto;
    padding: 10px;
    background-color: #f44336;
    
    padding: 14px ;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 10%;
}

/* Center the avatar image inside this container */


/* Add padding to containers */
.container {
    padding: 2cm;
    color: #9e9e9e;
}

/* The "Forgot password" text */
span.psw {
    float: center;
    padding: 20px 20px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
    .cancelbtn {
        width: 100%;
    }
}

.pass{
    padding: 5px;
}
