<form action="/action_page.php">
  <div class="container">
    <label><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="uname" required>
    <br>
    <label class="pass"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" required>
<br>
    <button type="submit">Login</button><br><br>
    <input type="checkbox" checked="checked"> Remember me <br><br>
  </div>

  <!--<div class="cancelButton" style="background-color:whitesmoke">
    <button type="button" class="cancelbtn">Cancel</button>
    <span class="psw">Forgot password?</span>
  </div>-->
</form>